[Unit]
Description=PA service
Requires=xtomp.service

[Service]
Environment=TOKEN_FILE=/var/pa-token.txt
ExecStart=/usr/bin/python3 /var/pa/app.py

[Install]
WantedBy=default.target
